@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,400;0,700;0,900;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --titles: rgb(231, 229, 229);
    --background: #000000;
    --socialmedia: #1b1414e5;
    --white: #fff;
    --black: #000;
}

body {
    background-color: var(--background);
    font-family: "Lato", sans-serif;
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    margin: auto;
    width: 500px;
    display: flex;
    height: calc(100vh - 20px);
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.container .profile {
    width: 104px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 104px;
    border-radius: 50%;
    object-fit: cover;
    z-index: 99;
    border: 5px solid var(--titles);
    box-shadow: 5px 5px 5px var(--socialmedia);
}

.container h2 {
    margin: 0;
    font-size: 22px;
    color: var(--titles);
    font-family: "Lato";
}

.container .subtitle {
    font-size: 14px;
    font-style: italic;
    color: var(--titles);
}

.container .updates {
    font-size: 18px;
    margin-top: 10px;
    color: var(--titles);
}

.info-container {
    background: #fff;
    width: 100%;
    height: 100%;
    border-radius: 50px 50px 0 0;
    position: relative;
    margin-top: 40px;
}

.social-media-container {
    display: flex;
    height: 65px;
    width: 223px;
    justify-content: space-around;
    align-items: center;
    background: var(--socialmedia);
    border-radius: 50px;
    position: absolute;
    top: -32px;
    left: calc(50% - 111px);
}

.social-media-container a {
    background: var(--white);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.content {
    padding: 50px 30px 20px;
    width: 100%;
    color: #43085f;
    overflow: hidden;
    position: relative;
}

.content .main-content p {
    text-align: center;
    font-style: italic;
}

.link {
    margin: 15px auto;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 16px;
    text-decoration: none;
    color: var(--socialmedia);
    cursor: pointer;
    -webkit-box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
    -moz-box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
    box-shadow: 4px 4px 18px -5px rgba(179, 179, 179, 0.72);
}

.link.highlight {
    background: var(--socialmedia);
    border: 1px solid #b366d8;
    color: var(--titles);
    font-weight: bold;
}

.spannews {
    color: red;
    font-weight: bold;
}